<div class="row header-bar">
	<a id="logo-img" class="col-xs-6 col-sm-2 text-hide <%= 'hidden-xs' if opt == 'all-mini' %>" href="/">Anna Patio</a>
	<nav class="col-sm-7 hidden-xs center-block">
	<ul class="menu">
		<li>
			<div class="song-en-menu <%= 'active' if ['music', 'all', "all-mini"].include? opt %>"></div>
			<a href="<%= song_path %>" class="song-chs-menu <%= 'active' if ['music', 'all', "all-mini"].include? opt %>"></a>
		</li>
		<li class="divider <%= 'active' if ['music', 'poems' , 'all', "all-mini"].include? opt %>"></li>
		<li>
			<div class="poem-en-menu <%= 'active' if ['poems', 'all', "all-mini"].include? opt %>"></div>
			<a href="<%= poems_path %>" class="poem-chs-menu <%= 'active' if ['poems', 'all', "all-mini"].include? opt %>"></a>
		</li>
		<li class="divider <%= 'active' if ['galleries', 'poems' , 'all', "all-mini"].include? opt %>"></li>
		<li>
			<div class="photo-en-menu <%= 'active' if ['galleries', 'all', "all-mini"].include? opt %>"></div>
			<a href="<%= galleries_path %>" class="photo-chs-menu <%= 'active' if ['galleries', 'all', "all-mini"].include? opt %>"></a>
		</li>
		<li class="divider <%= 'active' if ['galleries', 'designs' , 'all', "all-mini"].include? opt %>"></li>
		<li>
			<div class="design-en-menu <%= 'active' if ['designs', 'all', "all-mini"].include? opt %>"></div>
			<a href="<%= design_path %>" class="design-chs-menu <%= 'active' if ['designs', 'all', "all-mini"].include? opt %>"></a>
		</li>
	</ul>
	</nav>
	<a id="chengbi-img" class="pull-right col-xs-6 col-sm-3 text-hide <%= 'hidden-xs' if opt == 'all-mini' %>" href="/">Cheng Bi</a>
</div>
<nav class="visible-xs">
	<ul class="menu">
		<li>
			<div class="song-en-menu <%= 'active' if ['music', 'all', "all-mini"].include? opt %>"></div>
			<a href="<%= song_path %>" class="song-chs-menu <%= 'active' if ['music', 'all', "all-mini"].include? opt %>"></a>
		</li>
		<li class="divider <%= 'active' if ['music', 'poems' , 'all', "all-mini"].include? opt %>"></li>
		<li>
			<div class="poem-en-menu <%= 'active' if ['poems', 'all', "all-mini"].include? opt %>"></div>
			<a href="<%= poems_path %>" class="poem-chs-menu <%= 'active' if ['poems', 'all', "all-mini"].include? opt %>"></a>
		</li>
		<li class="divider <%= 'active' if ['galleries', 'poems' , 'all', "all-mini"].include? opt %>"></li>
		<li>
			<div class="photo-en-menu <%= 'active' if ['galleries', 'all', "all-mini"].include? opt %>"></div>
			<a href="<%= galleries_path %>" class="photo-chs-menu <%= 'active' if ['galleries', 'all', "all-mini"].include? opt %>"></a>
		</li>
		<li class="divider <%= 'active' if ['galleries', 'designs' , 'all', "all-mini"].include? opt %>"></li>
		<li>
			<div class="design-en-menu <%= 'active' if ['designs', 'all', "all-mini"].include? opt %>"></div>
			<a href="<%= design_path %>" class="design-chs-menu <%= 'active' if ['designs', 'all', "all-mini"].include? opt %>"></a>
		</li>
	</ul>
</nav>
<% if opt == "music"%>
<div class="row music-index-link hidden-xs">
	<div class="col-xs-6 col-sm-3"><a href="<%= album_song_path(@lastest, @lastest.songs.last)%>" class="music-new-link <%= 'active' if ['new', 'all'].include? song %>"></a></div>
	<div class="col-xs-6 col-sm-3"><a href="<%= album_song_path(@first, @first.songs.first)%>" class="music-album-link <%= 'active' if ['annapatio', 'all'].include? song %>"></a></div>
	<div class="col-xs-6 col-sm-3"><a href="<%= song_live_path %>" class="music-live-link <%= 'active' if ['live', 'all'].include? song %>"></a></div>
	<div class="col-xs-6 col-sm-3"><a href="<%= song_video_path %>" class="music-video-link <%= 'active' if ['video', 'all'].include? song %>"></a></div>
</div>
<% end %>
