<div class="container">
<%= render 'menu', :opt => "music"%>
<div class="anna-guitar-img"><img src="<%= image_path("anna-guitar.jpg")%>" class = "img-responsive" ></div>
<div class="row music-index-link">
	<div class="col-xs-6 col-sm-3"><a href="<%= album_song_path(@lastest, @lastest.songs.first)%>" class="music-new-link"></a></div>
	<div class="col-xs-6 col-sm-3"><a href="<%= album_song_path(@album, @album.songs.first)%>" class="music-album-link"></a></div>
	<div class="col-xs-6 col-sm-3"><a href="<%= music_live_path %>" class="music-live-link"></a></div>
	<div class="col-xs-6 col-sm-3"><a href="<%= music_vedio_path %>" class="music-vedio-link"></a></div>
</div>
<div class="row">
	<div class="music-about-img"></div>
	<div class="music-about-text">
		<p>我叫程璧，出生在北方，名字是祖母给我起的。小时候我跟祖母生活在一个北方四合小院，那里是我创作的最初灵感来源。祖母出生在民国时代，是我见过的最诗情画意的人，喜欢写作和歌唱，教四岁的我写毛笔字背唐诗。印象最深刻是她经常哼唱那首《松花江上》，九一八那年她从东北跟着父亲入关，从此离开了自己的家乡。每次她唱到‘流浪’二字，我都听得到里面的乡愁。</p>
		<div class="anna-patio-img"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-music-3.jpg!normal" class="img-responsive" /></div>
		<p>后来，我写了一首小诗来描述儿时生活过的小院的模样，“庭前花木满，院外小径芳，四时常相往，晴日共剪窗。”再后来在北京大学读书期间，我认识了吉他社的大家开始学习弹吉他和作曲，并为这首诗配上了和弦和旋律，创作了一首童谣小曲取名《晴日共剪窗》。从那时候起我开始不断写歌，并带着自己原创作品成为了北大校园十佳歌手。毕业那年夏我在北京南锣鼓巷陆玖音乐咖啡馆举办了自己的首场音乐会，发表了自己的首张原创音乐专辑《晴日共剪窗》。</p>
		<div class="anna-patio-img"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-music-2.jpg!normal" class="img-responsive" /></div>
		<p>《晴日共剪窗》这张专辑是我大学音乐与生活的总结。专辑只有一把古典吉他伴奏，一是因为古典吉他是尼龙弦，声音平实而温暖，适合我倾向于诉说式的音乐作品；二是大学时候的两个古典吉他演奏朋友阿兰和卡瓦，他们那日下午的即兴演奏，让我感受到古典吉他的丰富性变化性，如同一整个交响乐团那样充满层次感。专辑封面和内页也是我自己动手设计的，我喜欢Vintage复古的东西，想在专辑封面有窗花的感觉，又不能完全是印象里窗花的样子，最后看到这组纹样，觉得味道很对。</p>
		<div class="anna-patio-img"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-music-1.jpg!normal" class="img-responsive" /></div>
		<p>硕士毕业后将近一年，我在东京一边工作，一边继续音乐创作，认识了很多独立音乐人、乐手以及曲作者。在国际级设计大师原研哉的设计研究所工作期间，我把自己的专辑拿给原研哉听。他是当代国际平面设计师最具思辨性的一位，上学时候就喜欢他所对于日常的理解，对于生活原点的思考，以及关于东方传统文化里「空」与「无」的诠释。他说我的声音让他非常吃惊，专辑他听了很多遍，从这些歌里他说可以感受到现在中国的年轻人的内心。</p>
		<div class="anna-patio-img"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-music-4.jpg!normal" class="img-responsive" /></div>
		<p>读书时我喜欢研究中国传统文化尤其是东方美学的东西，我的音乐风格也来自这种审美倾向。庄子艺术精神贯通下的中国传统文人画，日本艺术哲学集大成之茶道，这些都对我的创作有着指导和影响。如今在日本，这个重视四季风物的国度为我的音乐带来了新的灵感。有一次去镰仓海边，听到远处咚咚的太鼓声，原来是附近农家的传统节日，一众人头戴发箍，脚蹬木屐，喊着号子。热闹的场面，让我想起小时候在乡下那些古老的节日，不由得又一阵乡愁。身处异乡，逢上春分梅雨这样的传统节气人会更加敏感。一夜樱花漫开，一夕细雨淅沥，这里面都酝酿着我作品里的新色调。</p>
	</div>
</div>
</div>