<div class="container">
<% if @album.id == 1 %>
<%= render "home/menu", :opt => "music", :song => "annapatio" %>
<% end %>
<% if @album.id == 2 %>
<%= render "home/menu", :opt => "music", :song => "new" %>
<% end %>
<% if @album.id == 3 %>
<%= render "home/menu", :opt => "music", :song => "live" %>
<% end %>
<div class="row music-header visible-xs">
<a href="<%= song_path %>" class="back-to-text pull-right" >返回上页</a>
<% if @album.id == 1 %>
<div class="album-info-img"></div>
<% end %>
<% if @album.id == 2 %>
<div class="new-info-img"></div>
<% end %>
<% if @album.id == 3 %>
<div class="live-info-img"></div>
<% end %>
</div>
<div class="song-header visible-xs">
	<a class="left-song pull-left text-hide" href="<%= @left ? album_song_path(@album, @left) : "#" %>">上一首</a>
	<span class="song-playing" style="display : none">正在播放：</span>
	<span class="song-title"><%= @song.index %>.&nbsp;&nbsp;<%= @song.name %></span>
	<a class="right-song pull-right text-hide" href="<%= @right ? album_song_path(@album, @right) : "#" %>">下一首</a>
</div>
<div class="player sm2-panel">
	<a class="sm2-link" style="display: none" href="<%= @song.url %>"><%= @album.id%>-<%= @song.id %></a>
	<img src="<%= @song.photo.song %>" class = "img-responsive player-photo" >
	<div class="play-button"></div>
</div>
<div class="song-header hidden-xs">
	<a class="left-song pull-left text-hide" href="<%= @left ? album_song_path(@album, @left) : "#" %>">上一首</a>
	<span class="song-playing" style="display : none">正在播放：</span>
	<span class="song-title"><%= @song.index %>.&nbsp;&nbsp;<%= @song.name %></span>
	<a class="right-song pull-right text-hide" href="<%= @right ? album_song_path(@album, @right) : "#" %>">下一首</a>
</div>
<div class="song-footer">
	<div class="song-about-img"></div>
	<div class="song-about-text"><%= simple_format @song.info %></div>
	<div class="song-lyrics-img"></div>
	<div class="song-lyrics-text"><%= simple_format @song.lyrics %></div>
</div>
</div>
<% content_for :title do %>
<%= @song.name %> - 程璧
<% end %>
