<div class="container">
<%= render "home/menu", :opt =>"designs" %>
<div class="gallery-index-panel">
	<% @designs.each do |design| %>
	<div class="gallery-item">
	<div class="gallery-text">
	<h5><%= design.title %></h5>
	<%= simple_format design.body %>
	</div>
	<% design.photos.each do |photo| %>
	<img src="<%= photo.mobile %>" class = "img-responsive gallery-photo" >
	<% end %>
	</div>
	<% end %>
</div>
<%= will_paginate @designs %>
</div>
