<div class="container">
<%= render "home/menu", :opt => "galleries" %>
<div class="gallery-index-panel">
	<% @galleries.each do |gallery| %>
	<div class="gallery-item">
	<div class="gallery-text">
	<h5><%= gallery.title %></h5>
	<%= simple_format gallery.body %>
	</div>
	<% gallery.photos.each do |photo| %>
	<img src="<%= photo.normal %>" class = "img-responsive gallery-photo" >
	<% end %>
	</div>
	<% end %>
</div>
<%= will_paginate @galleries, :inner_window => 1  %>
</div>
