<xml>
    <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
    <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
    <CreateTime><%= Time.now.to_i %></CreateTime>
    <MsgType><![CDATA[music]]></MsgType>
 	<Music>
 		<Title><![CDATA[<%= @poem.name %>]]></Title>
 		<Description><![CDATA[程璧]]></Description>
 		<MusicUrl><![CDATA[<%= @poem.url %>]]></MusicUrl>
 		<HQMusicUrl><![CDATA[<%= @poem.url %>]]></HQMusicUrl>
 	</Music>
    <FuncFlag>0</FuncFlag>
</xml>