<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Anna Patio" %></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div class="container footer">
<span class="footer-line-1">关注程璧个人作品发布与互动平台：</span><br />
<div class="footer-img" ></div>
<span class="footer-line-2">程璧，毕业于北京大学外文系，喜爱民谣与创作，大学起开始学习作曲。2012年获北京大学十佳歌手称号，发表个人首张原创音乐专辑《晴日共剪窗》。现居东京工作于原研哉设计研究所，带着一把古典吉他在东京LIVE HOUSE自弹自唱，独立从事音乐创作与写作。</span>
</div>
<%= yield :scripts %>
</body>
</html>
